<!--The content below is only a placeholder and can be replaced. jumbotron bg-secondary text-white-->
<div id="greybox" class="jumbotron bg-secondary text-white" style="text-align:center">
  <h2>Field Trip Register</h2>
  <p> Chaperones:  Adult supervision should be no less than 1 sponsor for every 12 students, with a minimum of 2 sponsors.
      Male and/or female sponsors must be provided if the group has both male and/or female students on overnight trips. </p>
</div>
<ul>
  <li><a routerLink="request" routerLinkActive="active">Home</a></li>
  <li><a routerLink="requestlist">My Requests</a></li>
  <li><a routerLink="mylist">mylist</a></li>
</ul>
<div class="container">
<!-- <app-triprequest></app-triprequest> -->
</div>
<router-outlet></router-outlet>

